.landing-logo, p.header_heading, button.header_button, .section_card_wrap {
  margin-left: 192px; }

body {
  width: 1920px;
  margin: 0px;
  background-color: #21232E; }

.header-wrap {
  border: 0px;
  border-radius: 0% 0% 40% 0%;
  background: url(../img/m-h-night.jpg);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: relative;
  z-index: -50; }

.landing-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }

.landing-logo img {
  margin-top: 25px;
  height: 55px; }

.header-wrap .landing-logo p {
  font-family: Fresca;
  font-weight: 800;
  font-size: 30px;
  margin-top: 25px !important;
  color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  vertical-align: top; }

.landing-logo span {
  font-family: Fresca;
  font-weight: 900;
  font-size: 13px;
  text-align: center;
  margin-top: 0px;
  color: White; }

p.header_heading {
  margin-top: 65px;
  width: 700px;
  font-size: 90px;
  font-family: "source sans pro";
  font-weight: 700;
  line-height: 100%;
  color: White; }

p.header_heading::after {
  content: '';
  background-color: #E14E33;
  height: 30px;
  width: 380px;
  position: absolute;
  left: 189px;
  bottom: 549px;
  z-index: -1; }

p.header_text {
  margin-top: -46px;
  width: 850px;
  margin-left: 192px;
  font-size: 20px;
  font-family: Fresca;
  white-space: pre-line;
  line-height: 150%;
  color: White;
  line-height: 150%; }

button.header_button {
  background-color: #E3AD00;
  color: white;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 55px;
  margin-bottom: 219px;
  width: 180px;
  height: 60px;
  font-size: 20px; }

main {
  background: linear-gradient(to bottom, #21232E 87%, #3B3F50 87%);
  width: 100%;
  position: relative;
  z-index: -50;
  height: 1083px; }

main.section p.section_text {
  text-align: center;
  font-family: "source sans pro";
  font-size: 50px;
  position: relative;
  font-weight: 600;
  margin-top: 47px;
  margin-bottom: 47px;
  color: White;
  opacity: 1; }

main.section p.section_text::after {
  content: '';
  background-color: #E14E33;
  height: 15px;
  width: 225px;
  position: absolute;
  right: 725px;
  bottom: 10px;
  z-index: -1; }

.section_card_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-content: space-around;
  align-items: stretch;
  margin-left: 167px;
  text-align: center;
  margin-right: 192px; }

.section_card {
  border: 0px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 20px;
  background-color: #3B3F50;
  position: relative;
  z-index: -50;
  color: white;
  height: 570px !important; }

.section_card_img {
  width: 100%;
  width: 457px;
  margin: 25px;
  height: 295px; }

.section_card_heading {
  display: inline-block;
  position: relative;
  justify-content: center !important;
  width: max-content;
  text-align: center !important;
  font-family: "source sans pro";
  font-size: 30px;
  position: relative;
  font-weight: 600;
  margin-top: -14px;
  margin-bottom: -8px; }

p.section_card_heading::after {
  content: '';
  background-color: #E14E33;
  height: 15px;
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1; }

.section_card_text {
  margin-left: 35px;
  margin-right: 35px;
  font-family: Fresca;
  font-size: 20px;
  display: flex;
  flex: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  height: 165px;
  color: #d1d1d1;
  line-height: 150%; }

.section_banner {
  margin-top: 175px;
  margin-left: 360px;
  width: 1197px;
  height: 180px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  display: flex;
  z-index: -50;
  background: linear-gradient(45deg, #e2ab00 25%, #af5a35 55%, #a24542 75%, #922b53 100%); }

.section_banner_heading {
  margin-left: 130px;
  font-family: "source sans pro";
  margin-top: 35px;
  font-size: 34px;
  text-align: left;
  font-weight: bold;
  color: White; }

.section_banner_text_wrap {
  width: 700px; }

p.section_banner_heading:after {
  content: '';
  background-color: #E14E33;
  height: 15px;
  width: 75px;
  position: absolute;
  left: 265px;
  bottom: 107px;
  z-index: -1;
  opacity: 0.8; }

p.section_banner_text {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  font-family: "source sans pro";
  margin-top: -10px;
  margin-bottom: auto;
  font-size: 19px;
  opacity: 0.6;
  color: #c0c3ce;
  vertical-align: top;
  justify-content: center; }

button.section_banner_button {
  text-align: center;
  background-color: #E3AD00;
  color: white;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 59px;
  margin-left: 310px;
  margin-right: 125px;
  width: 180px;
  height: 60px;
  font-size: 20px; }

footer {
  background: #3B3F50;
  color: white;
  height: 166px; }

.footer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-content: space-around; }

.footer_logo {
  margin-top: 10px;
  opacity: 0.9;
  color: white; }

.footer_text {
  margin-left: 70px;
  width: 350px;
  font-size: 19px;
  font-family: Fresca;
  line-height: 150%;
  color: #d1d1d1; }

.footer_logo p {
  margin-top: 25px !important;
  font-family: Fresca;
  font-size: 30px;
  color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: column; }

.footer_logo p > span {
  font-family: Fresca;
  font-size: 12px;
  text-align: center;
  margin-top: 0px;
  color: white; }

.footer-cr {
  margin-top: 43px;
  margin-right: 192px;
  font-size: 20px;
  font-family: Fresca;
  text-align: right;
  color: #d1d1d1; }
