$linear-gradient-banner-colors: (
    "gradient-left": #e2ab00,
    "gradient-center": #af5a35,
    "gradien-centert-right": #a24542,
    "gradient-right": #922b53
    );
$linear-gradient-bg-color-main: (
    "gradient-top": #21232E,
    "gradient-botoom": #3B3F50
    );



$medium-text-font: Fresca;
$bg-color-footer: #3B3F50;
$button-color:#E3AD00;
$after-color: #E14E33;
$bg-color-section-card: #3B3F50;
$header-bg:  url(../img/m-h-night.jpg);
$text-color-top: White;
$text-color-footer: white;
$logo-p-margin-top:25px !important;
$logo-p-span-margin: 0px;
$logo-font-weight: 600 !important;
$text-opacity: 1;
$text-color-logo: white;
$font-logo-p:800;
$header-heading-margin-top: 65px;
$card-text-line-height: 150%;
$section-card-text-margin-left: 35px;
$section-card-text-margin-right: 35px;
$section-card-text-color: #d1d1d1;
$footer-text-color: #d1d1d1;
