$linear-gradient-banner-colors: (
    "gradient-left": #66960c,
    "gradient-center": #487777,
    "gradien-centert-right": #3866b2,
    "gradient-right": #305ecf
    );
$linear-gradient-bg-color-main: (
    "gradient-top": #FFFFFF,
    "gradient-botoom": #21232E
    );



$medium-text-font: Hind;
$bg-color-footer: #21232E;
$button-color: #699900;
$after-color: #1FBBE9;
$bg-color-section-card: #21232E;
$header-bg: url(../img/m-h-day.jpg);
$text-color-top: #2c2e3c;
$text-color-footer: white;
$logo-p-margin-top: 25px !important;
$logo-p-span-margin: -10px;
$logo-font-weight: 400 !important;
$text-opacity: 0.7;
$text-color-logo: black;
$font-logo-p: 500;
$header-heading-margin-top: 55px;
$card-text-line-height: normal;
$section-card-text-margin-left: 25px;
$section-card-text-margin-right: 25px;
$section-card-text-color: #c0c3ce;
$footer-text-color: #c0c3ce;
